.env
artifacts
IPFS images
metadata
node_modules

NFTcontract.sol
NFTmarketplace.sol
RentalNFTMarketplace.sol
reward_funding.sol
storage.sol
TimeBased.sol


fundingDeploy.js
MarketPlaceDeploy.js
NFTdeploy.js

NFTcollect.js
NFTmarketPlace.js
pracitceTest.js
storageTest.js
test.js
miniProject.js
RNFTMTest.js

flattenedRweardBasedFunding.sol
flattenNFTcontract.sol









